/* *************
HEADER/COVER
************* */

#cv > section:first-of-type > img {
    position: absolute;
    top: 4em;
    left: 4em;

    border-radius: 20px;
    object-fit: cover;
    object-position: 0% 100%;

    min-width: 14em;
    width: 36vw;
    aspect-ratio: 1 / 1;

    z-index: 10;
}

#cv > section:first-of-type > div {
    position: absolute;
    top: calc((36vw / 2) - (30vw / 2) + 4em);
    left: calc((36vw / 2) + 4em);

    border-radius: 100%;

    min-width: 16em;
    width: 30vw;
    aspect-ratio: 1 / 1;

    background-color: var(--primary);
    filter: blur(5px);

    z-index: 5;
    animation: home-circle 2s linear infinite;
}

#cv > section:first-of-type > h1 {
    position: absolute;
    top: calc((36vw / 2) + 0.5em);
    right: 0;

    width: calc(100vw - 36vw - 4em + 2em);

    z-index: 10;
}

/* *************
CV CONTENT
************* */

#cv article {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 4em;

    position: relative;
    left: calc(50% - (75vw) / 2);

    margin-top: calc(36vw + 4em + 7.5em);
    margin-bottom: 15em;

    width: 75vw;
}

#cv
    article
    li:not(
        #cv article section:first-of-type section li:first-of-type,
        #cv article section:first-of-type section:last-of-type li
    ) {
    margin-top: 1em;
}

/* *************
GENERAL INFORMATION
************* */

#cv article > section:first-of-type {
    border-radius: 10px;
    padding: 2em 1.5em 2em 1.5em;

    background-color: var(--background-opacity);
}

#cv article > section:first-of-type section:last-of-type ul {
    display: grid;
}

#cv
    article
    > section:first-of-type
    section:last-of-type
    h3:not(:first-of-type) {
    margin-top: 0.75em;
}

/* text in the left column */
#cv article > section:first-of-type section:last-of-type div:nth-of-type(odd) {
    grid-column-start: 1;
}

/* stars in the right column */
#cv article > section:first-of-type section:last-of-type div:nth-of-type(even) {
    grid-column-start: 2;
}

#cv
    article
    > section:first-of-type
    section:last-of-type
    div:nth-of-type(even)
    li {
    color: var(--accent);
}

/* *************
WORK INFORMATION
************* */

#cv article > section:last-of-type {
    width: 100%;
}

#cv article > section:last-of-type section:last-of-type {
    margin-top: 2em;
}

#cv article > section:last-of-type p:first-of-type {
    font-weight: bold;
    text-transform: uppercase;
}

/* *************
MEDIA QUERIES
************* */

@media screen and (max-width: 90em) {
    #cv article {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 67em) {
    /* *************
    HEADER/COVER
    ************* */

    #cv > section:first-of-type > img {
        position: absolute;
        top: 4em;
        left: calc(50% - (14em) / 2);

        width: 14em;
    }

    #cv > section:first-of-type > div {
        top: calc((14em / 2));
        left: calc(50% - (16em / 2));
    }

    #cv > section:first-of-type > h1 {
        top: calc((14em / 2) - 1em);

        width: 100vw;

        text-align: center;
    }

    /* *************
    CV CONTENT
    ************* */

    #cv article {
        grid-template-columns: 1fr;

        left: calc(50% - (90vw) / 2);

        margin-top: calc(14em + 4em + 7.5em);

        width: 90vw;
    }

    #cv article > section:first-of-type {
        justify-self: center;

        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #cv article > section:first-of-type > section:first-of-type,
    #cv article > section:first-of-type > section:nth-of-type(2) {
        grid-column-start: 1;
    }

    #cv article > section:first-of-type > section:last-of-type {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #cv article li {
        font-size: 18px;
    }

    #cv article li span {
        font-size: 18px;
    }
}

@media screen and (max-width: 45em) {
    #cv article > section:first-of-type {
        display: inline-block;

        width: 20em;
    }

    #cv article > section:last-of-type p {
        max-width: 80%;
    }
}
