/* *************
HEADER/COVER
************* */

#cv section:first-of-type > img {
    top: 4.25em;
    left: 4em;
}

#cv section:first-of-type > div {
    /* img position + (img width - width div) */
    top: calc(4.25em + ((24em - 21.5em) / 2));
    left: calc(4em + (24em / 2));

    width: 21.5em;
    height: 21.5em;
}

#cv section:first-of-type > h1 {
    top: 3.75em;
    left: 9em;
}

/* *************
CV CONTENT
************* */

#cv article {
    display: grid;
    grid-template-columns: 1fr 1fr;

    position: absolute;
    /* height img + top position img */
    top: calc(24em + 4.25em);

    padding-bottom: 10em;
}

#cv article section {
    margin-top: 2em;
}

#cv
    article
    li:not(
        #cv article section:first-of-type section li:first-of-type,
        #cv article section:first-of-type section:last-of-type li
    ) {
    margin-top: 1em;
}

/* *************
GENERAL INFORMATION
************* */

#cv article > section:first-of-type {
    border-radius: 10px;
    /* no top padding since margin top is already applied for both section */
    padding: 0em 2em 2em 2em;

    width: 18em;

    background-color: var(--background-opacity);
}

#cv article > section:first-of-type section:last-of-type ul {
    display: grid;
}

#cv
    article
    > section:first-of-type
    section:last-of-type
    h3:not(:first-of-type) {
    margin-top: 0.75em;
}

/* text in the left column */
#cv article > section:first-of-type section:last-of-type div:nth-of-type(odd) {
    grid-column-start: 1;
}

/* stars in the right column */
#cv article > section:first-of-type section:last-of-type div:nth-of-type(even) {
    grid-column-start: 2;
}

#cv
    article
    > section:first-of-type
    section:last-of-type
    div:nth-of-type(even)
    li {
    color: var(--accent);
}

/* *************
WORK INFORMATION
************* */

#cv article > section:nth-of-type(2) p:first-of-type {
    font-weight: bold;
    text-transform: uppercase;
}
