/* *************
HEADER/INTRODUCTION
************* */

section:first-of-type:not(article section) > img {
    position: absolute;
    top: 14em;
    left: 15.5em;

    border-radius: 20px;
    object-fit: cover;
    object-position: 0% 100%;

    width: 24em;
    height: 24em;

    z-index: 10;
}

body > section:first-of-type > div {
    position: absolute;
    top: 4.25em;
    left: 1em;

    border-radius: 100%;

    width: 37em;
    height: 37em;

    background-color: var(--primary);
    filter: blur(5px);

    z-index: 5;
}

section:first-of-type:not(article section) > h1 {
    position: absolute;
    top: 2.5em;
    left: 9em;

    z-index: 10;
}

section:first-of-type:not(article section) > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;

    position: absolute;
    /* img top + img-size / 3 */
    top: calc(14em + (24em / 3));
    /* img left + img-size + 2em */
    left: calc(15.5em + 24em + 2em);

    width: 30em;

    z-index: 5;
}

section:first-of-type:not(article section) > ul li {
    border-radius: 10px;
    padding: 0.4em;

    width: auto;

    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: lowercase;
    background-color: var(--accent);
}

/* *************
ABOUT ME
************* */

#about {
    /* width intro div / 2 + top position big intro circle */
    margin-top: calc((37em / 2) + 4.25em);

    /* 3 paragraphs of 20em + button 30em */
    height: calc(20em * 3 + 30em);

    background-color: var(--background-opacity);
}

#about svg {
    position: absolute;
    /* same as # about + extra space */
    top: calc(((37em / 2) + 4.25em) + 10em);
    left: 40em;

    z-index: 10;
}

#about div > div {
    position: relative;

    border-radius: 100%;

    width: 18em;
    height: 18em;

    background-color: var(--text);
    opacity: 0.05;

    z-index: 5;
}

#about div > img {
    position: absolute;

    /* width img / 4 + width div / 2 */
    margin: calc(12em / 4) 0 0 calc(18em / 2);
    border-radius: 5px;

    width: 12em;
    height: 12em;
    object-fit: cover;
}

#about section:first-of-type > div:first-of-type img {
    object-position: 0% 10%;
}

#about span {
    color: var(--accent);
}

#about section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;

    position: relative;
    top: 20em;
    /* center with width section calc */
    left: calc(50% - ((55em + 18em + 6em) / 2));

    margin: 0 4em 0 2em;

    /* width text + width div + width img / 2 */
    width: calc(55em + 18em + 6em);
}

#about section > div:first-of-type {
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: end;

    /* width of div + half of img width */
    width: calc(18em + (12em / 2));
}

#about section > div:last-of-type {
    grid-column-start: 1;
    grid-row-start: 1;
    align-self: center;

    width: 55em;
}

#about section:nth-of-type(2) > div:first-of-type {
    grid-column-start: 1;
}

#about section:nth-of-type(2) > div:last-of-type {
    grid-column-start: 2;
}

#about a {
    position: relative;
    top: 25em;
    left: calc(50% - 17.5em / 2);

    border-radius: 5px;
    padding: 0.5em;

    /* value has to be given so the link can be centered properly */
    width: 17.5em;

    font-weight: bold;
    color: #000;
    background-color: var(--secondary);
}

/* *************
MY WORK
************* */

#work {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    /* width of two buttons + column gap */
    width: calc(16em * 2 + 5em);

    z-index: 5;
}

#work h2 {
    position: relative;
    top: 2em;

    text-align: center;
}

#work section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5em;
    row-gap: 5em;

    margin-top: 7.5em;
}

#work section a {
    position: relative;

    border-radius: 10px;

    overflow-y: hidden;
    height: 16em;
}

#work section a p {
    position: absolute;
    bottom: 2em;

    width: 14em;

    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

/* *************
CONTACT
************* */

#contact {
    position: absolute;
    top: 172.5em;

    z-index: 5;
}

#contact h2 {
    text-align: center;
}

#contact ul {
    position: relative;
    left: calc(50% - (26em / 2));

    width: 26em;
}

#contact ul li {
    position: relative;
    /* -5em to align with ul, the rest is half op li width minus 50% to properly center it */
    left: calc(-5em + (50% - (20em / 2)));

    margin: 2em 2em 0 2em;

    text-align: center;
}

#contact ul li a {
    display: inline-block;

    border-radius: 10px;
    padding: 1em;

    width: 20em;

    font-weight: bold;
    color: #000;
    background-color: var(--secondary);
}

#contact ul li span {
    display: inline-block;

    font-weight: normal;
    color: #000;
}

/* *************
BACKGROUND CIRCLE
************* */

#background-circle {
    position: absolute;
    /* top of #contact section - 20em to touch the #work section */
    top: calc(172.5em - 20em);
    height: 50em;

    overflow: hidden;
}

#background-circle div {
    position: absolute;
    left: calc(50% - (85em / 2));

    border-radius: 100%;

    width: 85em;
    height: 85em;

    background-color: var(--background-opacity);
    filter: blur(2.5px);

    z-index: 0;
}
