/* LOAD FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* *************
VARIABLES
************* */
:root {
    /* dark theme */
    --text: #ffffff;
    --background: #1e261c;
    --background-opacity: #293127;
    --primary: #92c1c4;
    --secondary: #d5e0af;
    --accent: #b5cc78;
    --focus: #c25a47;

    /* fonts */
    --primary-font: "Montserrat", "Gill Sans MT", "Trebuchet MS", sans-serif;
    --heading-font: "Alegreya", "Times New Roman", Times, serif;
}

.theme-light {
    --text: #000000;
    --background: #e9f2e7;
    --background-opacity: #dde6db;
    --primary: #92c1c4;
    --secondary: #d5e0af;
    --accent: #b5cc78;
    --focus: #c25a47;
}

/* *************
DEFAULT STYLING
************* */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    overflow-x: hidden;

    width: 100%;

    font-family: var(--primary-font);
    font-size: 22px;
    color: var(--text);
}

body {
    background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

h1 {
    font-size: 82px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 28px;
}

a {
    text-decoration: none;
}

span {
    font-weight: bold;
}

/* *************
MENU BAR
************* */

nav ul {
    display: flex;

    position: fixed;
    top: -1em;
    left: -1em;

    margin: 1em;
    box-shadow: 0px 5px 10px var(--background);

    background-color: var(--background);

    z-index: 20;
}

nav ul div {
    display: flex;
    justify-content: space-between;
    gap: 1em;

    margin: 0.5em 1em 0 1.75em;
}

nav ul li {
    padding: 0.5em 0.75em 0.5em 0.75em;

    width: 7.5em;

    text-align: center;
}

.active {
    font-weight: bold;
    color: var(--primary);
}

nav ul li img {
    position: relative;
    left: -0.5em;

    width: 1.5em;
}

nav ul li span {
    font-weight: normal;
}

nav ul li span.active {
    font-weight: bold;
    color: var(--text);
}

nav ul li:nth-of-type(4) a {
    border-radius: 10px;
    padding: 0.5em 0.75em 0.5em 0.75em;

    font-weight: bold;
    color: var(--background);
    background-color: var(--primary);
}

nav ul li:nth-of-type(5) {
    width: 2em;
}
