/* *************
HEADER/COVER IMAGE
************* */

#work-content > section:first-of-type {
    position: relative;
}

#work-content > section:first-of-type > img {
    object-fit: cover;

    width: 100vw;
    height: 24em;
}

#work-content > section:first-of-type > h1 {
    position: absolute;
    bottom: 1em;

    width: 100vw;

    font-family: var(--text-font-main);
    font-size: 72px;
    text-align: center;
    color: #fff;
}

/* *************
ARTICLE
************* */

#work-content > article {
    margin: 0 4em 15em 4em;

    width: calc(100vw - 8em);

    overflow: visible;
}

#work-content > article > section {
    margin-top: 3em;

    opacity: 0;
    transform: translateY(5em);
    transition: opacity 2s, transform 2s;
}

#work-content > article > section.reveal {
    opacity: 1;
    transform: translateY(0);
}

/* *************
PROCESS
************* */

#work-content > article > section:first-of-type,
#work-content > article > section:last-of-type {
    margin: 3em 4em 0 4em;

    width: calc(100% - 8em);
}

#work-content > article > section:first-of-type,
#work-content > article > section:first-of-type ul {
    overflow: visible;
}

#work-content > article > section:first-of-type ul li {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s, transform 2s;
}

#work-content > article > section:first-of-type ul li.reveal {
    opacity: 1;
    transform: translateY(0);
}

#work-content > article > section:first-of-type ul li:not(:first-of-type) {
    margin-top: 2em;
}

/* text wrapping */
#work-content > article > section:first-of-type li div,
#work-content > article > section:last-of-type div img {
    float: left;

    margin: 0 1em 0.5em 0;
}

#work-content > article > section:first-of-type li div img {
    border-radius: 5px;

    object-fit: cover;

    min-width: 9em;
    width: 18vw;
    aspect-ratio: 1 / 1;
}

#work-content > article > section:first-of-type li p,
#work-content > article > section:last-of-type div p {
    overflow-x: visible;
}

/* *************
GENERAL INFORMATION
************* */

#work-content > article > section:nth-of-type(2) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;

    width: 100%;
}

#work-content > article > section:nth-of-type(2) section {
    flex-grow: 1;

    border-radius: 10px;
    padding: 2em;

    width: 18em;
    height: auto;

    background-color: var(--background-opacity);
}

#work-content > article > section:nth-of-type(2) p {
    margin-top: -0.75em;

    white-space: pre-line;
}

#work-content > article > section:nth-of-type(2) section:nth-of-type(2) div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;

    margin-top: 1em;

    overflow: visible;
}

#work-content > article > section:nth-of-type(2) section a {
    transition: transform 100ms;
}

#work-content > article > section:nth-of-type(2) section a:hover {
    transform: scale(1.1);
}

#work-content > article > section:nth-of-type(2) section img {
    width: 4em;
    height: 4em;
}

/* *************
REFLECTION
************* */

#work-content > article > section:last-of-type div img {
    border-radius: 5px;
    padding: 1em 1em 2em 1em;

    min-width: 9em;
    width: 18vw;

    background-color: #fff;
}

#work-content > article > section:last-of-type p {
    margin-bottom: 0.75em;
}

/* *************
IMG POSITIONING - INDIVIDUAL PAGES
************* */

/* year 2 */

#buddy section:first-of-type img {
    object-position: 0% 0%;
}

#sandscript article > section:first-of-type li:nth-of-type(2) img {
    object-fit: none;
    object-position: 17.5% 10%;
}

#sandscript article > section:first-of-type li:last-of-type img {
    object-position: 0% 5%;
}

/* year 3 */

#bear article > section:first-of-type li:nth-of-type(2) img {
    object-position: 0% 42.5%;
}

#dreaming article > section:first-of-type li:nth-of-type(2) img {
    object-position: 0% 20%;
}

#dreaming article > section:first-of-type li:nth-of-type(3) img {
    object-position: 12.5% 0%;
}

#mythic article > section:first-of-type li:nth-of-type(4) img {
    object-position: 0% 0%;
}

#tolkien article > section:first-of-type li:nth-of-type(2) img {
    object-position: 0% 0%;
}

/* *************
MEDIA QUERIES
************* */

@media screen and (max-width: 67em) {
    /* *************
    HEADER/COVER IMAGE
    ************* */

    #work-content > section:first-of-type > h1 {
        font-size: 64px;
    }
}

@media screen and (max-width: 45em) {
    /* *************
    ARTICLE
    ************* */

    #work-content > article {
        margin: 0 1em 15em 1em;

        width: calc(100vw - 2em);
    }

    /* *************
    PROCESS
    ************* */

    #work-content > article > section:first-of-type,
    #work-content > article > section:last-of-type {
        margin: 3em 1em 0 1em;

        width: calc(100% - 2em);
    }
}

@media screen and (max-width: 27em) {
    #work-content > article > section:first-of-type li div,
    #work-content > article > section:last-of-type div img {
        float: none;
    }

    #work-content > article > section:first-of-type li div img,
    #work-content > article > section:last-of-type div img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
