:root {
    --bigplanet: 15em;
    --smallplanet: 10em;
    --moon: calc(var(--bigplanet) / 8);
    --planet-orbit-time: 15s;
}

body {
    background-color:#314d5b;
    width:100%; height:100%;
    overflow:hidden;
}

/*STARS*/
.star{
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
}

.star-gra{
    position: absolute;
    background-color: #ffffff;
    filter: blur(1.5px);
    border-radius: 50%;
}

.star1 {
    width:1em; height:1em;
}

.star2 {
    width:.85em; height:.85em;
    
}

.star3 {
    width:.6em; height:.6em;
}

.star4 {
    width:.4em; height:.4em;
}

.star5 {
    width:.1em; height:.1em;
}

    /*INDIVIDUAL STARS*/
    .s-1 {
        left:10.5%; top:12%;
    }

    .s-2 {
        left:14%; top:25%;
    }

    .s-3 {
        left:10%; top:52.5%;
    }

    .s-4 {
        left:5%; top:70%;
    }

    .s-5 {
        left:5%; top:95%;
    }

    .s-6 {
        left:20%; top:12%;
    }

    .s-7 {
        left:32.5%; top:45%;
    }

    .s-8 {
        left:27.5%; top:62.5%;
    }

    .s-9 {
        left:17.5%; top:80%;
    }

    .s-10 {
        left:36%; top:7.5%;
    }

    .s-11 {
        left:37%; top:85%;
    }

    .s-12 {
        left:44%; top:5%;
    }

    .s-13 {
        left:52.5%; top:92.5%;
    }

    .s-14 {
        right:40%; top:15%;
    }

    .s-15 {
        right:39%; top:72.5%;
    }

    .s-16 {
        right:35%; top:85%;
    }

    .s-17 {
        right:32.5%; top:5%;
    }

    .s-18 {
        right:29%; top:37.5%;
    }

    .s-19 {
        right:30.5%; top:66%;
    }

    .s-20 {
        right:28%; top:72.5%;
    }

    .s-21 {
        right:29%; top:82.5%;
    }

    .s-22 {
        right:27.5%; top:90%;
    }

    .s-23 {
        right:23%; top:15%;
    }

    .s-24 {
        right:20%; top:92.5%;
    }

    .s-25 {
        right:15%; top:22.5%;
    }

    .s-26 {
        right:10%; top:5%;
    }

    .s-27 {
        right:14%; top:60%;
    }

    .s-28 {
        right:15%; top:95%;
    }

    .s-29 {
        right:8%; top:12.5%;
    }

    .s-30 {
        right:9%; top:75%;
    }

    .s-31 {
        right:5.5%; top:60%;
    }

/*PLANET*/
.planet {
    position: absolute;
    background-image:
        linear-gradient(180deg, 
            transparent 0% 5%, 
            #dab17b 5% 14%, /*very big stripe*/
            transparent 14% 16%, /*small gap*/
            #dab17b 16% 17.5%,  /*small stripe*/
            transparent 17.5% 19.5%, /*small gap*/
            #dab17b 19.5% 23%, /*medium stripe*/
            transparent 23% 27.5%, /*medium gap*/
            #dab17b 27.5% 31%, /*medium stripe*/
            transparent 31% 35.5%, /*medium gap*/
            #dab17b 35.5% 41%, /*big stripe*/
            transparent 41% 45.5%, /*medium gap*/
            #dab17b 45.5% 49%, /*medium stripe*/
            transparent 49% 51%, /*small gap*/
            #dab17b 51% 56.5%, /*big stripe*/
            transparent 56.5% 58.5%, /*small gap*/
            #dab17b 58.5% 62%, /*medium stripe*/
            transparent 62% 66.5%, /*medium gap*/
            #dab17b 66.5% 72%, /*big stripe*/
            transparent 72% 79%, /*big gap*/
            #dab17b 79% 82.5%, /*medium stripe*/
            transparent 82.5% 87%, /*medium gap*/
            #dab17b 87% 90.5%, /*medium stripe*/
            transparent 90.5% 100%
        ),
        linear-gradient(to left, #FFD6A3 50%, #fecd8b 50%);
    width:var(--smallplanet); height:var(--smallplanet);
    border-radius: 50%;
    left:calc((50% - var(--smallplanet) / 2) - 20%); top:calc(50% - var(--smallplanet) / 2);
    /*ANIMATION*/
    transform-origin: calc(20vw + var(--smallplanet) / 2) center;
    animation-name: planet-orbit;
    animation-iteration-count: infinite;
    animation-duration: var(--planet-orbit-time);
    animation-timing-function: linear;
}

.solar-system {
    position: absolute;
    width:var(--smallplanet); height:var(--smallplanet);
    border-radius: 50%;
    left:calc((50% - var(--smallplanet) / 2) - 20%); top:calc(50% - var(--smallplanet) / 2);
    /*ANIMATION*/
    transform-origin: calc(20vw + var(--smallplanet) / 2) center;
    animation-name: planet-orbit;
    animation-iteration-count: infinite;
    animation-duration: var(--planet-orbit-time);
    animation-timing-function: linear;
}

.shadow {
    --shadow-orbit-time: var(--planet-orbit-time);
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 20, 40, 0.6), rgba(0, 26, 51, 0));
    width: var(--smallplanet); height: 50em;
    left:calc(50% + var(--smallplanet) / 3.2); top:calc(50% - var(--smallplanet) / 1.2);
    /*ANIMATION*/
    transform-origin: center top;
    transform: rotate(45deg);
    animation-name: shadow-orbit;
    animation-iteration-count: infinite;
    animation-duration: var(--shadow-orbit-time);
    animation-delay: calc(var(--shadow-orbit-time) / -8);
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-play-state: paused;
}

/*MOON*/
.moon {
    position: absolute;
    background-image: linear-gradient(to bottom right, rgb(225, 240, 255) 50%, rgb(175, 205, 235) 50%);
    width:var(--moon); height:var(--moon);
    border-radius: 50%;
    left:calc(50% - var(--moon) / 2); top:calc(50% - var(--moon) / 2);
    /*ANIMATION*/
    transform-origin: center center;
    animation-name: moon-orbit;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

/*SUN*/
.sun {
    position: absolute;
    background-image: linear-gradient(to bottom right, rgb(225, 175, 20) 50%, rgb(225, 140, 20) 50%);
    width:var(--bigplanet); height:var(--bigplanet);
    border-radius: 50%;
    left:calc(50% - var(--bigplanet) / 2); top:calc(50% - var(--bigplanet) / 2);
    z-index: 100;
    /*ANIMATION*/
    transform-origin: center;
    animation-name: planet-orbit;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    animation-timing-function: linear;
}

/*KEYFRAMES*/

@keyframes planet-orbit {
    0% {
        transform: none;
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moon-orbit {
    0% {
        transform: rotate(0) translateY(calc(var(--smallplanet) + var(--moon))) rotate(0);
    }
    100% {
        transform: rotate(360deg) translateY(calc(var(--smallplanet) + var(--moon))) rotate(-360deg);
    }
}


@keyframes shadow-orbit {
    0% {
        transform: rotate(360deg) translateY(calc(var(--smallplanet) + var(--moon))) rotate(360deg);
    }
    100% {
        transform: rotate(0deg) translateY(calc(var(--smallplanet) + var(--moon))) rotate(0deg);
    }
}